:root {
    --ff-primary: 'Bebas Neue', sans-serif;
    --ff-secondary: 'Montserrat', sans-serif;
    --col-primary: #4F4A45;
    --col-secondary: #F6F1EE;
    --col-tertiary: #6C5F5B;
    --col-main: #ED7D31;
}
.ff-primary{
    font-family: var(--ff-primary);
}
.ff-second{
    font-family: var(--ff-secondary);
}
body {
    color: var(--col-primary);
    background-color: var(--col-secondary);
}
header {
    background-image: url(../assets/images/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;
    padding-bottom: 30vw;
}
.icons{
    position: absolute;
    top: 1rem;
    right: 2rem;
    gap: 1rem;
}
.header-title{
    font-size: 20vh;
}
.def-border{
    border: 0.2rem solid var(--col-primary);
    border-right: 0;
    border-left: 0;
}
.categories-title{
    border-bottom: 0.5rem solid var(--col-primary);
}