:root {
    --ff-primary: 'Bebas Neue', sans-serif;
    --ff-secondary: 'Montserrat', sans-serif;
    --col-primary: #4F4A45;
    --col-secondary: #F6F1EE;
    --col-tertiary: #6C5F5B;
    --col-main: #ED7D31;
}
.ff-primary{
    font-family: var(--ff-primary);
}
.ff-second{
    font-family: var(--ff-secondary);
}
body {
    color: var(--col-primary);
    background-color: var(--col-secondary);
    font-family: var(--ff-secondary);
}
header {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.icons{
    position: absolute;
    top: 1rem;
    right: 2rem;
    gap: 1rem;
}
.header-title{
    font-size: 20vh;
}
.def-border{
    border: 0.2rem solid var(--col-primary);
    border-right: 0;
    border-left: 0;
}
.book-cover{
    width: 21vw;
    height: 30vw;
}
.title-boder{
    border-bottom: 0.5rem solid var(--col-primary);
}
.ovf-fix{
    overflow-x: hidden;
}
.gmaps{
    border:2px solid black;
    width: 100%;
    height: 100%;
}

/* INDEX */

.header-index{
    background-image: url(../assets/images/background2.png);
    background-position: 70%;
}

/* CONTACT */

.header-contact{
    height: auto;
}
.footer-contact{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
