<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="shortcut icon" href="/misc/logo.png" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
</head>
<body>
    <!-- Header -->
    <header class="d-flex flex-column text-dark">
        <!-- Navbar -->
        <nav class="navbar navbar-dark navbar-expand-sm">
            <div class="container-fluid justify-content-end">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-md-center justify-content-start" id="navbar">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <a href="/" class="nav-link text-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Home" class="bi bi-house-door mx-auto mb-1" viewBox="0 0 16 16">
                                    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
                                </svg>
                                Home
                            </a>
                        </li>
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <a href="/api/books" class="nav-link text-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Books" class="bi bi-book-half mx-auto mb-1" viewBox="0 0 16 16">
                                    <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                                </svg>
                                Books
                            </a>
                        </li>
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <a href="/account" class="nav-link text-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Account"  class="bi bi-person-circle mx-auto mb-1" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                </svg>
                                Account
                            </a>
                        </li>
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <a href="/contact" class="nav-link active text-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Contact Us" class="bi bi-chat-heart mx-auto mb-1 " viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2.965 12.695a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2m-.8 3.108.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125ZM8 5.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                                </svg>
                                Contact Us
                            </a>
                        </li>
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <a href="/donate" class="nav-link d-sm-none text-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Help" class="bi bi-question-circle mx-auto mb-1" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                                </svg>
                                Help
                            </a>
                        </li>
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <a href="/cart" class="nav-link d-sm-none text-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Cart" class="bi bi-cart3 mx-auto mb-1" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                </svg>
                                Cart
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <ul class="nav-icons d-sm-flex list-unstyled">
            <li class="nav-item">
                <a href="/donate" class="nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Help" class="bi bi-question-circle mx-auto mb-1" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                    </svg>
                    Help
                </a>
            </li>
            <li class="nav-item">
                <a href="/cart" class="nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Cart" class="bi bi-cart3 mx-auto mb-1" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                    Cart
                </a>
            </li>
        </ul>
    </header>
    <!-- Content -->
    <main class="row m-0 d-flex justify-content-evenly align-items-center my-auto px-md-0 px-sm-5 px-0 py-5">
        <!-- Get in touch-->
        <section class="col-xxl-4 col-lg-5 col-md-6 col-12 mb-md-0 mb-5">
            <div class="row m-0">
                <!-- Title -->           
                <h1 class="display-1 ff-primary text-center">Get in touch</h1>
                <% if (messages.details) { %>
                    <div class="alert alert-success" role="alert">
                      <%= messages.details %>
                    </div>
                <% } %>
                <!-- Form -->
                <form class="col-12 px-0" method="post" action="/contact" id="contactForm" data-sb-form-api-token="API_TOKEN" >
                    <div class="row mx-auto px-0 g-3">
                        <!-- Name -->
                        <div class="col-12">
                            <label class="form-label" for="name">Name</label>
                            <input class="form-control" name="name" id="name" type="text" data-sb-validations="required" />
                            <div class="invalid-feedback" data-sb-feedback="name:required">Name is required.</div>
                        </div>
                        <!-- Email address -->
                        <div class="col-12">
                            <label class="form-label" for="emailAddress">Email Address</label>
                            <input class="form-control" id="emailAddress" name="email" type="email" data-sb-validations="required, email" />
                            <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address is not valid.</div>
                        </div>
                        <!-- Message -->
                        <div class="col-12">
                            <label class="form-label" for="message">Message</label>
                            <textarea class="form-control" name="message" id="message" type="text" style="height: 10rem;" data-sb-validations="required"></textarea>
                            <div class="invalid-feedback" data-sb-feedback="message:required">Message is required.</div>
                        </div>
                        <!-- Submissions success message -->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center">Form submission successful!</div>
                        </div>
                        <!-- Submissions error message -->
                        <div class="d-none" id="submitErrorMessage">
                            <div class="text-center text-danger">Error sending message!</div>
                        </div>
                        <!-- Submit button -->
                        <div class="col-12">
                            <button class="btn btn-dark btn-lg w-100" id="submitButton" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- Contact Us -->
        <section class="col-xxl-4 col-lg-5 col-md-6 col-12 text-center">
            <!-- Title -->           
            <h1 class="display-1 ff-primary">Contact Us</h1>
                <ul class="list-unstyled d-flex flex-column justify-content-center border border-2 border-dark rounded py-5 m-0">
                    <li class="d-flex flex-wrap justify-content-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Email" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                            </svg>
                            <p class="m-auto mx-3">bibliofyproject@gmail.com</p>
                    </li>
                    <li class="d-flex flex-wrap justify-content-center align-items-center mt-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Phone" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                            </svg>
                            <p class="m-auto mx-3">0787 752 351</p>
                    </li>
                    <li class="d-flex flex-wrap justify-content-center align-items-center mt-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Adress" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                            </svg>
                            <p class="m-auto mx-3">Strada Sibiului 5, Selimbar</p>
                    </li>
                    <li class="d-flex justify-content-center align-items-center mt-3">
                        <iframe class="h-100 border border-1 border-dark" style="width: 90%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1939.500882097711!2d24.168844173819217!3d45.7759126212784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474c5d88642d534f%3A0x8f7322b8ef9a5ced!2sShopping%20City%20Sibiu!5e0!3m2!1sen!2sro!4v1710324519065!5m2!1sen!2sro" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </li>
                    <li class="fw-bold mt-3">
                        <a href="/donate" class="text-decoration-none">Contact us at our pickup points <u>here</u></a>
                    </li>
                </ul>
        </section>
    </main>
    <div style="margin-top: 0;">
        <!-- Footer -->
        <%- include("partials/footer") -%>
    </div>
</body>
</html>